.digit{
    font-size: 50px;
}
.container {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  .card {
    width: 500px;
    height: 300px;
    background-color: lightgray;
  }
  
  .btn{
    width: 80px;
    color: black;
    font-weight: bold;
    font-size: 16px;
  }